@import "_vars";
@import "_libs";
@import "_text-styles";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,400;1,500&display=swap');
html, body {
  
    @include for-md{
        overflow: initial !important;
    }
}
*{
    outline: none;
}
input{
    appearance: none;
}

body{
    font-family: 'Montserrat', sans-serif;
    outline: none;
    width: 100%;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
p{
    margin: 0;
}
button{
    cursor: pointer;
}
.logo{
   width: 170px;
   height: 32px;
   &__image{
       display: block;
       height: 100%;
       background-position: center left;
       background-repeat: no-repeat;
       background-size: contain;
   } 
}
.fp-tableCell{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  
}
.wrapper{
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}
.container{
    max-width: 1730px;
    padding: 0 15px;
    margin: 0 auto;
}
.section{
    padding: 20px 0;
    box-sizing: border-box;

    &--flex-start{
        
        .fp-tableCell{
            align-items: flex-start;
            padding-top: 80px;
        }
    }
}
.main-menu{
    &__list{
        padding: 55px 0 0 0;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;

    }
    &__link{
        font-size: 20px;
        line-height: 24px;
        color: #7e7e7e;
        text-transform: uppercase;
        text-decoration: none;
        transition: .3s;
        &:hover{
             text-shadow: 0 0 .9px #7e7e7e, 0 0 .9px #7e7e7e, 0 0 .9px #7e7e7e; 
        }
    }

}
.header{
    &--red{
        padding-bottom: 43px;
        background-color: $red;
        .main-menu{
            width: 50%;
            margin-left: auto;
        }
        .main-menu__link{
            color: $white;
        }
        .header__phones{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        .header__phone-link{
            color: $white;
        }
        .header__link-modal{
            color: $white;
            margin-left: 60px;
        }
        .header__basket{
            margin-left: auto;
        }
    }
    &__row{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    &__link-modal{
        color: $black;
        font-size: 18px;
        line-height: 24px;
        text-transform: uppercase;
        transition: .3s;
        margin-left: auto;
        margin-right: 55px;
        cursor: pointer;

        &:hover{
            opacity: .6;
        }
    }
    &__phone-link{
        font-size: 18px;
        line-height: 24px;
        color: $black;
        text-decoration: none;
        transition: .3s;
        &:hover{
            opacity: .6;
        }
    }
}

.hero{
    padding: 0;
    .container{
        height: 100%;
        max-width: 100%;
        padding-left: 80px;
        box-sizing: border-box;
        
        
    }
    &__header{
        padding-top: 83px;
    }
    &__left{
        height: 100%;
        width: 58%;
        box-sizing: border-box;
        padding-right: 88px;
        
    }
    &__right{
        height: 100%;
        width: 42%;
        
    }
    &__slider-top{
        height: 63%;
        .swiper-container{
            height: 100%;
        }

        img{
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }

        .swiper-pagination-fraction{
            top: 80px;
            left: 85px;
            width: auto;
            white-space: nowrap;
            font-size: 48px;
            line-height: 51px;
            font-weight: bold;
            color: #bbbbbb;
            letter-spacing: -1px;


            span:before{
                content: "0";
            }

            .swiper-pagination-current{
                color: $white;
                margin-right: -10px;
            }
            .swiper-pagination-total{
                margin-left: -10px;
            }
        }
        .swiper-button-next:after, .swiper-button-prev:after{
            font-size: 71px;
            color: $white;
        }
        .swiper-button-next, .swiper-button-prev{
            outline: none;
            top: auto;
            bottom: 50px;
        }
        .swiper-button-next{
            right: 50px;
        }
        .swiper-button-prev{
            left: auto;
            right: 175px;
        }
    }
    .hero__slider-bot{
        height: 37%;
        .swiper-container{
            height: 100%;
        }
        &-row{
            display: flex;
            background-color:#d0d0d0 ;
            height: 100%;
            > div{
                width: 50%;
                height: 100%;
            }
        }
        img{
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        &-left{
            display: flex;
            align-items: flex-end;
            box-sizing: border-box;
            padding: 0 20px 88px 88px;
        }
        .swiper-pagination{
            top: 75px;
            left: 88px;
            width: auto;
            white-space: nowrap;
            font-size: 48px;
            line-height: 51px;
            font-weight: bold;
            color: #bbbbbb;
            letter-spacing: -1px;


            span:before{
                content: "0";
            }

            .swiper-pagination-current{
                color: $white;
                margin-right: -10px;
            }
            .swiper-pagination-total{
                margin-left: -10px;
            }
        }
    }
    
    &__row{
        height: 100%;
        display: flex;

    }
    &__title{
        position: relative;
        font-size: 48px;
        line-height: 51px;
        font-weight: 700;
        margin: 228px 0 90px ;
        padding-top: 30px;
        box-sizing: border-box;

        &:before{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 6px;
            width: 142px;
            background-color: #ff0000;
        }
    }
    &__row-titles{
        display: flex;
        flex-wrap: wrap;
    }
    &__row-titles-container{
        box-sizing: border-box;
        padding-right: 50px;
        width: 50%;

        h2{
            font-size: 24px;
            line-height: 27px;
            color: #838383;
            text-transform: uppercase;
            padding-top: 27px;
            position: relative;
            &:before{
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 142px;
                height: 6px;
                background-color: #ff0000;
            }
        }
    }
}

.about{
    background:no-repeat center center;
    background-size: cover;

    &__row{
        display: flex;
        justify-content: space-between;
    }
    &__section-title{
        flex-shrink: 0;

      margin: 0 50px 0 0;
    }
    .content_block{
        padding-top: 105px;
        max-width: 1031px;
        width: 100%;
      p{
        color: $white;
        text-indent: 35px;
        font-size: 22px;
        line-height: 35px;
      }
    }
}

.section-title{
    font-size: 48px;
    line-height: 51px;
    font-weight: 700;
    text-transform: uppercase;
    color: $black;
    &--white{
        color: $white;
    }
}
.features{
    
    &__row{
        margin-top: 90px;
        display: flex;
        flex-wrap: wrap;
        margin-right: -90px;
    }
    &__item-container{
        padding-right: 90px;
        box-sizing: border-box;
        width: 25%;
        margin-bottom: 25px;
    }
}
.features-item{
    &__icon-container{
        height: 116px;
        margin-bottom: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__icon{
        max-width: 100%;
    }
    p{
        font-size: 18px;
        line-height: 1.5;
        color: $grey;
    }
}
.contacts {
    position: relative;
    padding-bottom: 125px;
    &__content{
        margin-top: 300px;
        font-size: 34px;
        line-height: 54px;
        color: $grey;
        a{
            color: $grey;
            text-decoration: none;
            transition: .3s;
            &:hover{
                color: $black;
            }
        }
       
    }
    &__separator{
        margin: 0 30px;
    }
    &__link-modal{
        font-size: 30px;
        line-height: 33px;
        margin-top: 130px;
        display: inline-block;
        color: $grey;
        border-bottom: 1px solid $grey;
        transition: .3s;
        cursor: pointer;
        text-transform: uppercase;
        &:hover{
            border-color: transparent;
        }
    }
    &__bottom{
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 0;
        background-color: #000;
        box-sizing: border-box;
        padding: 34px 0;

        &-row{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    
   

}
.copy{
    font-size: 18px;
    line-height: 21px;
    
    color: #a7a7a7;

    span{
       
        color: #7e7e7e;
    }
}
.social{
    padding: 0;
    margin: 0;
    display: flex;
    &__item + &__item{
        margin-left: 20px;
    }
    &__link{
        display: block;
        height: 50px;
        width: 50px;
        background-size: 90% 90%;
        background-position: center center;
        background-repeat: no-repeat;
        transition: .3s;
        &:hover{
            opacity: .6;
        }
    }
}
.catalog{
    &__slider{
        .swiper-slide{
            transition: .3s;
        }
        // .swiper-slide{
           
           
        // }
        .swiper-slide-active.js-active{
            transform: translateY(50px) scale(1.2);
        }
        
    }
}
.catalog{
    margin-top: 50px;
    &__view{
        display: flex;
        align-items: center;
        @include for-md{
            justify-content: center;
        }
        @include for-md-mob{
            display: none;
        }
    }
    &__view-text{
        font-size: 14px;
        line-height: 28px;
        color: $black;
        text-transform: uppercase;
    }
    &__view-box{
        margin-left: 25px;
    }
    &__view-button + &__view-button{
        margin-left: 12px;
    }
    &__view-button{
        width: 18px;
        height: 18px;
        border: none;
        background-color: transparent;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        outline: none;
        &--grid{
            background-image: url(../images/grid-icon.png);
        }
        &--grid.active{
            background-image: url(../images/grid-icon-active.png);
        }
        &--list{
            background-image: url(../images/list-icon.png);
        }
        &--list.active{
            background-image: url(../images/list-icon-active.png);
        }
    }
    &__row{
        display: flex;
        margin-top: 85px;
        flex-wrap: wrap;
        justify-content: space-between;
        @include for-sm{
            margin-top: 40px;
        }
    }
    &__item{
        width: 33.333333%;
        // padding-right: 215px;
        margin-bottom: 83px;
        box-sizing: border-box;
        @include for-lg{
            width: 50%;
            padding-left: 6%;
        }
        @include for-md{
            width: 100%;
            padding-left: 0;
        }
        @include for-md-mob{
            margin-bottom: 70px;
        }
    }

    
}
.catalog-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__inner{
        display: flex;
        align-items: flex-start;

        @include for-md{
            margin: 0 auto;
        }
        @include for-md-mob{
            flex-direction: column;
            text-align: center;
        }
    }
    &__img-block{
        display: block;
        width: 135px;
        height: 183px;
        @include for-md-mob{
            margin: 0 auto; 
        }
    }
    &__img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    &__text-block{
        margin-left: 21px;
        @include for-md-mob{
            margin-left: 0;
            margin-top: 20px;  
        }
    }
    &__title{
        font-size: 30px;
        line-height: 34px;
        @include for-sm{
            font-size: 24px;
            line-height: 28px;
        }
    }
    &__desc{
        margin-top: 5px;
        font-size: 16px;
        line-height: 20px;
        color: $grey;
        @include for-sm{
            font-size: 14px;
            line-height: 20px;
        }
    }
    &__liter{
        margin-top: 10px;
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        @include for-sm{
            font-size: 14px;
            line-height: 20px;
        }
        @include for-md-mob{
            margin-top: 5px;
        }
        
    }
    &__price{
        margin-top: 25px;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        @include for-sm{
            
            font-size: 32px;
            line-height: 36px;
        }
        @include for-md-mob{
            margin-top: 5px;
        }
    }
    &__button{
        padding: 10px 0;
        margin-top: 27px;
        max-width: 137px;
        width: 100%;
        text-align: center;
        background-color: $red;
        border: none;
        background-color: #d0d0d0;
        border-radius: 10px;
        font-size: 11px;
        line-height: 15px;
        text-transform: uppercase;
        color: $white;
        transition: .3s;
        
        &:hover{
            background-color: $red;
        }
        @include for-md{
            margin: 27px auto 0;
        }
        @include for-sm{
            max-width: 100%;
            font-size: 20px;
            line-height: 24px;
        }
        @include for-md-mob{
            margin-top: 15px;

        }
    }
}
.catalog-item.list{
    margin-bottom: 30px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding-bottom: 24px;
    border-bottom: 1px solid #d0d0d0;
    &:last-child{
        border-bottom: none;
    }
    .catalog-item__inner{
        align-items: center;
        width: 100%;
        max-width: 100%;
    }
    .catalog-item__title{
        br{
            display: none;
        }
    }
    .catalog-item__desc{
        br{
            display: none;
        }
    }
    .catalog-item__text-block{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 57px;
        width: 100%;
        @include for-md{
            margin-left: 20px;
            flex-direction: column;
            align-items: flex-start;
        }
    }
    .catalog-item__button{
        padding: 23px 0;
        margin-left: 150px;
        font-size: 24px;
        line-height: 28px;
        max-width: 288px;
        @include for-md{
            margin-left: auto;
        }
        @include for-sm{
            padding: 8px 0;
            font-size: 20px;
            line-height: 24px;
            max-width: 165px;
        }
    }
}